# Compiled class file
*.class

# Log file
*.log

#Directories for filestorage and extracted files
/extracted-dir
/filestorage-dir
/exported-dir
/src/main/resources/static/examples
/src/main/resources/static/examples/captures
/public/extracted-dir
*_backup*
*.hocr
*.csv
*.mp4
*.json
*.m4v
# BlueJ files
*.ctxt
*.jpg
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
