* {

    font-family: 'Duru Sans', 'DejaVu Sans', 'Arial';
}


.container {
    margin: 10px;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;

}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    text-align: center;
    padding: 0 0 30px;
}

button {
    margin: 4px;
}


#projectheader {
    font-family: "Faster One", sans-serif;
    color: green;
    font-size: 3em;
    transition: all 1s ease;
}

#projectheader:hover {
    color: blue;
    transition: all 2s ease;
}

nav ul, nav a {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    background-color: green;

    color: black;
    list-style-type: none;
    border: none;
    text-decoration: none;
    border-radius: 20px;


}

nav li {
    float: left;
    padding: 0px 15px;
}

nav a:hover {
    background-color: dimgray;
}

footer ul li {
    display: inline-block;
}

p {
    text-align: left;
}

#wrapper {
    width: 1440px;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}

#nav_container {
    display: inline-block;
    text-align: center;
    position: relative;
}

a, input{
    margin: 2px;
}


